@import "_variables.scss";

body {
  color: $primary;
  background-color: $secondary;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

.wrapper {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}
